<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <style>
        /* 전체 body에 대한 스타일링 */
        body {
            font-family: 'SeoulNamsanM', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7; /* 배경색 지정 */
        }

        /* 전체 container1에 대한 스타일링 */
        .container1 {
            margin: 150px auto;
            width: 80%;
            background-color: #fff; /* 배경색 지정 */
            padding: 20px; /* 안쪽 여백 지정 */
            border-radius: 10px; /* 모서리를 둥글게 만듦 */
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
        }

        .container1 h1{
            margin: 30px;
        }
        /* 테이블에 대한 스타일링 */
        table {
            margin: 20px auto;
            width: 95%;
            border-collapse: collapse; /* 테이블 경계를 합침 */
        }

        th, td {
            padding: 10px; /* 셀 안쪽 여백 지정 */
            height: 50px;
            text-align: left; /* 텍스트를 왼쪽으로 정렬 */
            border-bottom: 1px solid #ddd; /* 아래쪽 테두리를 지정 */
        }

        /* 첫 번째 th에 대한 스타일링 */
        th:first-child {
            border-top-left-radius: 10px; /* 왼쪽 위 모서리를 둥글게 만듦 */
        }

        /* 마지막 th에 대한 스타일링 */
        th:last-child {
            border-top-right-radius: 10px; /* 오른쪽 위 모서리를 둥글게 만듦 */
        }

        /* 버튼 컨테이너에 대한 스타일링 */
        .button-container {
            margin-top: 20px;
            text-align: right; /* 버튼을 오른쪽으로 정렬 */
        }
        #searchContainer {
            margin-left: 30px;
            font-size: larger;
        }
        #searchContainer input, #searchContainer #searchType{
            height: 30px;
        }
        #searchContainer button{
            height: 30px;
            width: 50px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 10px;
        }

        #searchContainer button:hover{
            height: 30px;
            width: 50px;
            background-color: white;
            color: #007bff;
            border: 2px solid #007bff;
            border-radius: 10px;
        }



        /* 버튼에 대한 스타일링 */
        .button-container a.button {
            background-color: #007bff; /* 배경색 지정 */
            color: #fff; /* 텍스트 색상 지정 */
            padding: 10px 20px; /* 안쪽 여백 지정 */
            border-radius: 5px; /* 모서리를 둥글게 만듦 */
            text-decoration: none; /* 밑줄 제거 */
            transition: background-color 0.3s; /* 배경색 변화를 부드럽게 만듦 */
        }

        .button-container a.button:hover {
            background-color: #0056b3; /* 마우스를 올렸을 때 배경색 변경 */
        }

        /* 페이징 컨테이너에 대한 스타일링 */
        .paging-container {
            margin-top: 20px;
            text-align: center; /* 텍스트를 가운데로 정렬 */
        }

        /* 페이징 링크에 대한 스타일링 */
        .paging-container a {
            margin: 0 5px; /* 링크 간격 지정 */
            padding: 5px 10px; /* 안쪽 여백 지정 */
            color: #007bff; /* 링크 색상 지정 */
            text-decoration: none; /* 밑줄 제거 */
            border: 1px solid #007bff; /* 테두리 지정 */
            border-radius: 5px; /* 모서리를 둥글게 만듦 */
        }

        .paging-container a:hover {
            background-color: #007bff; /* 마우스를 올렸을 때 배경색 변경 */
            color: #fff; /* 텍스트 색상 변경 */
        }

        /* 현재 페이지 링크에 대한 스타일링 */
        .paging-container .current-page {
            margin: 0 5px; /* 링크 간격 지정 */
            padding: 5px 10px; /* 안쪽 여백 지정 */
            background-color: #007bff; /* 배경색 지정 */
            color: #fff; /* 텍스트 색상 지정 */
            border: 1px solid #007bff; /* 테두리 지정 */
            border-radius: 5px; /* 모서리를 둥글게 만듦 */
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
</head>
<body>
<div class = "container1_1">
    <nav class = "head_nav">
        <div class = "nav-item1-left">
            <a class="nav-link1" href = "/boardkyb">공지사항</a>
        </div>
        <div class="nav-item1-left">
            <a class="nav-link" href="/boardLJW">요청게시판</a>
        </div>
        <div class = "nav-item1-center">
            <a class = "nav-link1" href = "/main"><h1><img src = "../public/images/logo1.png"></h1></a>
        </div>
        <div class="nav-item1-left">
            <% if (username == null) {%>
                <a class="nav-link" href="/signup">회원가입</a>
            <%}%>
        </div>
        <div class = "nav-item1">
            <div class = "login_box">
                <% if (username) { %>
                    <a href="#" class="button"><%- username %></a>
                    <div class="sub-nav">
                        <a class="nav-item" href="/logout">로그아웃</a>
                    </div>
                <% } else { %>
                    <a href="/login" class="button">로그인</a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav>
        <a class="nav-item" href="/total"><h1>Top12</h1></a>
        <div class="nav-item">
            <a class="nav-link" href="/video"><h2>잠실</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/subway">관광객 추세</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>홍대입구</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/gangnam"><h2>강남</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/chartkyb">강남 점포수</a>
                <a class="nav-item" href="/hj_boardMain">게시판</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>구로디지털</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>삼성</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">역삼</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>서울역</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신도림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>고속터미널</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/Myeong-dong"><h2>명동</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/md_mainBoard">게시판</a>
                <a class="nav-item" href="/totalKYB">명동 남녀매출</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>선릉</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
    </nav>
</div>
<div class = "container1">
    <h1>공지사항</h1>
    <table>
        <thead>
        <tr>
            <th>구분</th>
            <th>제목</th>
            <th>작성일</th>
            <th onclick="toggleSort()" onmouseover="this.style.textDecoration = 'underline';" onmouseout="this.style.textDecoration = 'none';">조회수 ▼</th>
        </tr>
        </thead>
        <tbody>

        <% for (let i = 0; i < notice.length; i++) { %>
        <tr>
            <td><%= notice[i][4]%></td>
            <td><a href="/boarDetailkyb/<%= notice[i][0] %>" class="notice-link"><%= notice[i][1] %> [<%= notice[i][4] %>]</a></td>
            <td><%= notice[i][2] %></td>
            <td><%= notice[i][3] %></td>
        </tr>
        <% } %>
        </tbody>
    </table>

<script>
    // 단순히 한 번만 초기화되도록 변수.
    // 한 번 설정된 값은 그 후에 페이지가 재로드되어도 바뀌지 않는다.
    let sortByViews = false;

    // 페이지 로드 또는 재로드 될 때마다 초기화를 위한 함수
    window.onload = function() {
        // 현재 페이지의 URL에서 쿼리 문자열을 반환
        const queryParams = new URLSearchParams(window.location.search);

        // 'sort' 쿼리 파라메터 값을 확인
        const sortParam = queryParams.get('sort');

        if (sortParam === 'views_desc') {
            sortByViews = true;
        }
    };

    function toggleSort() {
        // sortByViews라는 플래그 변수(상태를 저장하는 변수)를 지정하여 정렬상태를 토글(반전) 시킴
        sortByViews = !sortByViews;
        const sortParam = sortByViews ? 'views_desc' : ''; // 정렬 방식에 따른 쿼리 파라미터
        // location 객체를 사용하여 지정된 URL로 이동 및 화면 갱신
        window.location.href = `/boardkyb?sort=${sortParam}`;
    }
</script>


<!-- 글쓰기 버튼 -->
<div class="button-container">
    <% if (username === 'system') { %>
    <a href="/create_kyb" class="button">글쓰기</a>
    <% } %>
</div>

<!-- 페이징 -->
<div class="paging-container">
    <% if (currentPage > 1) { %>
    <a href="/boardkyb/?page=<%= currentPage - 1 %>">이전</a>
    <% } %>

    <% for (let i = startPage; i <= endPage; i++) { %>
    <% if (i === currentPage) { %>
    <span class="current-page"><%= i %></span>
    <% } else { %>
    <a href="/boardkyb/?page=<%= i %>"><%= i %></a>
    <% } %>
    <% } %>

    <% if ((totalPages - currentPage + 1) > maxPageNumber) { %>
    <a href="/bboardkyb/?page=<%= currentPage + 1 %>">다음</a>
    <% } %>
</div>


<div id="searchContainer">
    <form action="/boardkyb" method="GET">
        <label for="searchType">검색 조건:</label>
        <select id="searchType" name="searchType">
            <option value="title" selected>제목</option>
            <option value="content">게시글 내용</option>
            <option value="class_post">구분</option>
        </select>
        <input type="text" id="searchInput" name="searchInput">
        <button type="submit">검색</button>
    </form>
</div>
</div>
</body>
</html>