<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff">
    <link rel="stylesheet" href="../public/css/header_test.css">
<!--    <link rel="stylesheet" href="../public/css/main.css">-->
    <link rel="stylesheet" href="../public/css/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/a4dc7026e0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <!-- 추가된 부분: Chart.js 라이브러리 CDN 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        /* CSS 스타일은 이전과 동일하게 유지됨 */
        .container3 {
            position: relative;
            display: flex;
            width: 80%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
        }
        .line_2, .line_4{
            flex-grow: 1;
            width: 40%;
            position: relative;
        }
        img {
            width: 100%;
            height: 450px;
            margin: 50px auto;
            display: block;
        }
        /* 추가된 부분: 왼쪽 사이드바 스타일 */
        .left_sidebar {
            position: fixed;
            top: 0;
            left: -800px; /* 초기에는 왼쪽에 숨김 */
            width: 800px;
            height: 100%;
            margin-top: 150px;
            background-color: #f0f0f0;
            transition: left 0.5s; /* 왼쪽 위치 변경에 대한 애니메이션 설정 */
            z-index: 999; /* 다른 요소 위에 표시되도록 z-index 설정 */
        }
        .right_sidebar {
            position: fixed;
            top: 0;
            right: -800px; /* 초기에는 왼쪽에 숨김 */
            width: 800px;
            height: 100%;
            margin-top: 150px;
            background-color: #f0f0f0;
            transition: right 0.5s; /* 왼쪽 위치 변경에 대한 애니메이션 설정 */
            z-index: 999; /* 다른 요소 위에 표시되도록 z-index 설정 */
        }
        /* 추가된 부분: left_sidebar 내부 컨테이너 스타일 */
        .container3 {
            padding: 20px;
        }
        /* 추가된 부분: 차트 박스 스타일 */
        .chart_box {
            width: 90%;
            height: 80%;
            margin: 20px;

        }
    </style>
    <script>
        $(document).ready(function() {
            $(".btn3 button").on("click", function() {
                console.log("Button clicked!");
                $(".content").toggleClass("expanded");
            });

            // content 외의 영역을 클릭하면 content 닫기
            $(document).on("click", function(event) {
                if (!$(event.target).closest(".btn3, .content").length) {
                    $(".content").removeClass("expanded");
                }
            });
        });
    </script>
</head>
<body>
<div class = "container1_1">
    <nav class = "head_nav">
        <div class = "nav-item1-left">
            <a class="nav-link1" href = "/boardkyb">공지사항</a>
        </div>
        <div class="nav-item1-left">
            <a class="nav-link" href="/boardLJW">요청게시판</a>
        </div>
        <div class = "nav-item1-center">
            <a class = "nav-link1" href = "/main"><h1><img src = "../public/images/logo1.png"></h1></a>
        </div>
        <div class = "nav-item1">
            <div class = "login_box">
                <% if (username) { %>
                    <a href="#" class="button"><%- username %></a>
                    <div class="sub-nav">
                        <a class="nav-item" href="/logout">로그아웃</a>
                    </div>
                <% } else { %>
                    <a href="/login" class="button">로그인</a>
                <% } %>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <nav>
        <div class = "nav-item">
            <a class="nav-link" href="/total"><h1>Top12</h1></a>
            <div class="sub-nav">
                <a class="nav-item" href="/subway">관광객 추세</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/video"><h2>잠실</h2></a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>홍대입구</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/gangnam"><h2>강남</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/chartkyb">강남 점포수</a>
                <a class="nav-item" href="/HJ_boardMain">게시판</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>구로디지털</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>삼성</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">역삼</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>서울역</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>신도림</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>고속터미널</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/Myeong-dong"><h2>명동</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="/md_mainBoard">게시판</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="public/main2.html"><h2>선릉</h2></a>
            <div class="sub-nav">
                <a class="nav-item" href="public/ganTasty.html">맛집</a>
            </div>
        </div>
    </nav>
</div>
<div class="container3">
    <div class="line_2">
        <!-- 첫 번째 그림에 클릭 이벤트 추가 -->
        <img src="../public/images/line_2.jpg" onclick="toggleSidebar()">
    </div>
    <div class="line_4">
        <img src="../public/images/line_4.jpg"  onclick="toggleSidebar1()">
    </div>
</div>

<!-- 추가된 부분: 왼쪽 사이드바 -->
<div class="left_sidebar" id="leftSidebar">
    <div class="container1">
        <div class="chart_box">
            <canvas id="myChart" width="300px" height="200px"></canvas>
        </div>
    </div>
</div>

<div class="right_sidebar" id="rightSidebar">
    <div class="container1">
        <div class="chart_box">
            <canvas id="myChart1" width="300px" height="200px"></canvas>
        </div>
<script>
    // 추가된 부분: 사이드바 토글 함수
    function toggleSidebar() {
        var sidebar = document.getElementById('leftSidebar');
        if (sidebar.style.left === '0px') {
            sidebar.style.left = '-800px'; // 왼쪽으로 이동하여 숨김
        } else {
            sidebar.style.left = '0px'; // 왼쪽에서 나타남
            drawChart(); // 사이드바가 나타날 때 차트 그리기 함수 호출
        }
    }

    // 추가된 부분: 차트 그리기 함수
    function drawChart() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: <%- labels %>,
                datasets: [{
                    label: 'Chart Data',
                    data: <%- data %>,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function toggleSidebar1() {
        var sidebar = document.getElementById('rightSidebar');
        if (sidebar.style.right === '0px') {
            sidebar.style.right = '-800px'; // 왼쪽으로 이동하여 숨김
        } else {
            sidebar.style.right = '0px'; // 왼쪽에서 나타남
            drawChart1(); // 사이드바가 나타날 때 차트 그리기 함수 호출
        }
    }

    // 추가된 부분: 차트 그리기 함수
    function drawChart1() {
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: <%- labels1 %>,
                datasets: [{
                    label: 'Chart Data',
                    data: <%- data1 %>,
                    backgroundColor: 'rgba(25, 233, 200, 0.2)',
                    borderColor: 'rgba(25, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

</script>

<div class="container1">
    <div class="chat-bar collapsed">
        <div class="btn3">
            <button><i class="fa-sharp fa-solid fa-comments">chat us!</i></button>
        </div>
        <div class="content">
            <div class="full-chat-block">
                <div class="outer-container">
                    <div class="chat-container">
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg" placeholder="엔터(Enter)키를 눌러 메세지를 보내세요!">
                                <p></p>
                            </div>
                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart" onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendButton()"></i>
                            </div>
                        </div>
                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../public/js/chat.js"></script>
<script src="../public/js/Reply.js"></script>
</body>
</html>
